body {
    padding: 1em;
}

.photo {
    margin: auto;
}

.photo > .card {
    background-color: #eee;
}

.preview {
    padding: 5px;
    margin: auto;
    cursor: pointer;
}

.preview.portrait {
    padding: 5px 20% 5px 20%;
}

.view {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
