body {
    padding: 1em;
}

.photo {
    margin: auto;
}

.photo > .card {
    background-color: #eee;
}

.preview {
    padding: 5px;
    margin: auto;
}

.preview-portrait {
    padding: 5px; 
    margin: auto;
}
