body {
    padding: 0 1em;
}

nav {
    position: absolute;
}

.photo {
    margin: auto;
}

.photo > .card {
    background-color: #eee;
}

.preview {
    padding: 5px;
    margin: auto;
    cursor: pointer;
}

.preview.portrait {
    padding: 5px 20% 5px 20%;
}

.view {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    display: none;
}

div.centering {
    max-width: 25em;
}    

@media all and (max-width: 600px) {
    div.centering {
	margin: 4em auto;
    }
}

@media all and (min-width: 601px) {
    div.centering {
	position: absolute;
	bottom: 50%;
	right: 50%;
	transform: translate(50%,50%);
	padding: 2em 0;
    }
}

.centering.login {
    max-width: 15em;
}

div.login-error {
    background: #ff4136;
    border-bottom-width: 0;
}

.stack.header {
    padding: 0.3em;
    background: #eee;
    color: #888;
    border: 1px solid #bbb;
    border-bottom-width: 0;
}

.label.full {
    margin: 0px;
}

.progress {
    display: inline-block;
    margin: 0;
    background: #eee;
    width: 20em;
    border: 1px solid #bbb;
    border-radius: 0.2em;
}

.percent {
    padding: 0.3em 0;
    background: #bbb;
    height: 100%;
}

.stack.border {
    padding: 0.3em 0.6em;
    border: 1px solid #ccc;
    border-bottom-width: 0;
}

.index {
    width: 90%;
    max-width: 900px;
    margin: auto;
}

article h2 {
    padding-bottom: 0px;
}
