<!DOCTYPE html>
<html lang="{{.Lang}}">
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{.Title}}</title>
	<link type="text/css" rel="stylesheet" href="/static/style.css">
	<link type="text/css" rel="stylesheet" href="/static/picnic.min.css">
	<link rel="icon" href="/static/favicon.png" />
    </head>
    <body>
	<nav>
	    <div class="brand">
		<a href="/" class="pseudo button">{{tr "Albums"}}</a>
	    </div>
	    {{/* responsive */}}
	    <input id="bmenu" type="checkbox" class="show">
	    <label for="bmenu" class="burger pseudo button">&#8801;</label>
	    <div class="menu">
		<a class="pseudo button" href="/new/album">{{tr "New album"}}</a>
		{{if .MyAlbum}}
		<a class="pseudo button" href="/edit/{{.URL}}">{{tr "Edit album"}}</a>
		{{end}}
		<a class="pseudo button" href="/logout{{.URL}}">{{tr "Logout"}}</a>
	    </div>
	</nav>
	<p>&nbsp;</p>
	<main>
	    <div class="full flex two three-600 six-1200">
		{{range .Images}}
		<div>
		    <div class="image">
			<article class="card">
			    <img class="{{.Class}}" src="{{.Src}}" onclick="location = {{.Href}}">
			</article>
		    </div>
		    {{with .Title}}
		    <span class="label success full">{{.}}</span>
		    {{end}}
		</div>
		{{end}}
	    </div>
	</main>
    </body>
</html>
