<!DOCTYPE html>
<html lang="{{.Lang}}">
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{tr "Albums"}}</title>
	<link type="text/css" rel="stylesheet" href="/static/style.css">
	<link type="text/css" rel="stylesheet" href="/static/picnic.min.css">
	<link rel="icon" href="/static/favicon.png" />
    </head>
    <body>
	<nav>
	    <div class="brand">
		<a href="/" class="pseudo button">{{tr "Albums"}}</a>
	    </div>
	    {{/* responsive */}}
	    <input id="bmenu" type="checkbox" class="show">
	    <label for="bmenu" class="burger pseudo button">&#8801;</label>
	    <div class="menu">
		<a class="pseudo button" href="/new/album">{{tr "New album"}}</a>
		<a class="pseudo button" href="/logout/">{{tr "Logout"}}</a>
	    </div>
	</nav>
	<p>&nbsp;</p>
	<main>
	    <div class="index">
		<ul>
		    <li><a href="/albums">{{tr "All albums"}}</a></li>
		    <li><a href="/password">{{tr "title|Change password"}}</a></li>
		</ul>
	    </div>
	</main>
    </body>
</html>
