<!DOCTYPE html>
<html lang="{{.Lang}}">
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Albums</title>
	<link type="text/css" rel="stylesheet" href="/static/style.css">
	<link type="text/css" rel="stylesheet" href="/static/picnic.min.css">
	<link rel="icon" href="/static/favicon.png" />
    </head>
    <body>
	<nav>
	    <div class="brand">
		<a href="/" class="pseudo button icon-picture">Album</a>
	    </div>
	    <div class="menu">
		<a class="pseudo button" href="/new">New album</a>
	    </div>
	</nav>
	<p>&nbsp;</p>
	<main>
	    <div class="full flex two three-600 six-1200">
	    </div>
	</main>
    </body>
</html>
