<!DOCTYPE html>
<html lang="{{.Lang}}">
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login</title>
	<link type="text/css" rel="stylesheet" href="/static/style.css" />
	<link type="text/css" rel="stylesheet" href="/static/picnic.min.css" />
	<link rel="icon" href="/static/favicon.png" />
    </head>
    <body>
	<div class="centering login">
	    <form action="/login" method="post">
		<input type="hidden" name="redirect" value="{{.Redirect}}">
		<div>
		    <input class="stack" type="text" name="login" placeholder='{{tr "Login"}}' autofocus>
		    <input class="stack" type="password" name="password" placeholder='{{tr "Password"}}'>
		    {{with .Message}}
		    <div class="stack login-error"><span class="label error">{{.}}</span></div>
		    {{end}}
		    <button class="stack" type="submit" value="Submit">{{tr "login|Submit"}}</button>
		</div>
	    </form>
	</div>
    </body>
</html>
