<!DOCTYPE html>
<html lang="{{.Lang}}">
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{tr "title|Change password"}}</title>
	<link type="text/css" rel="stylesheet" href="/static/style.css" />
	<link type="text/css" rel="stylesheet" href="/static/picnic.min.css" />
	<link rel="icon" href="/static/favicon.png" />
    </head>
    <body>
	<div class="centering login">
	    <form action="/password" method="post">
		<input type="hidden" name="redirect" value="{{.Redirect}}">
		<div>
		    <div class="stack header">{{tr "title|Change password"}}</div>
		    <input class="stack" type="password" name="password" placeholder='{{tr "Current password"}}' autofocus>
		    {{with .PasswordMsg}}
		    <div class="stack login-error"><span class="label error">{{.}}</span></div>
		    {{end}}
		    <input class="stack" type="password" name="new_password" placeholder='{{tr "New password"}}'>
		    {{with .NewPasswordMsg}}
		    <div class="stack login-error"><span class="label error">{{.}}</span></div>
		    {{end}}
		    <input class="stack" type="password" name="repeat_password" placeholder='{{tr "Repeat password"}}'>
		    {{with .Message}}
		    <div class="stack login-error"><span class="label error">{{.}}</span></div>
		    {{end}}
		    <button class="stack" type="submit" value="Submit">{{tr "submit|Change password"}}</button>
		</div>
	    </form>
	</div>
    </body>
</html>
