<!DOCTYPE html>
<html lang="{{.Lang}}">
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{.Title}}</title>
	<link type="text/css" rel="stylesheet" href="/static/style.css">
	<link type="text/css" rel="stylesheet" href="/static/picnic.min.css">
	<script src="/static/mpa.js"></script>
	<link rel="icon" href="/static/favicon.png" />
    </head>
    <body class="view">
	<nav id="nav" class="hidden">
	    <div class="brand">
		<a href="/" class="pseudo button">Album</a>
	    </div>
	    <div class="menu">
		<button id="text" class="pseudo" onclick="params.slideShow()">&nbsp;</button>
	    </div>
	</nav>

	<div id="err" tabindex="0" class="modal">
	    <input id="modal_err" type="checkbox"/>
	    <label for="modal_err" class="overlay"></label>
	    <article>
		<header>
		    <h4>{{tr "Error"}}</h4>
		    <label for="modal_err" class="close">&times;</label>
		</header>
		<section class="content">
		    <p id="error">&nbsp;</p>
		</section>
		<footer>
		    <label for="modal_err" class="button">{{tr "Close"}}</label>
		</footer>
	    </article>
	</div>
	<div id="login" class="modal"></div>

	<script>
	 var params = {idx: 0, images: {{.Images}}, connectionError: {{tr "Connection error"}}};
	 setupViewMode(params);
	</script>
    </body>
</html>
