<!DOCTYPE html>
<html lang="en">
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{.Title}}</title>
	<link type="text/css" rel="stylesheet" href="/static/style.css">
	<link type="text/css" rel="stylesheet" href="/static/picnic.min.css">
	<script src="/static/mpa.js"></script>
    </head>
    <body>
	<nav id="nav" class="hidden">
	    <div class="brand">
		<a href="/" class="pseudo button">Album</a>
	    </div>
	    <div class="menu">
		<span id="text"></span>
	    </div>
	</nav>
	<img id="view" class="view" src="{{.Src}}">
	<script>
	 var params = {idx: {{.Index}}, photos: {{.Photos}}};
	 setupViewMode(params);
	</script>
    </body>
</html>
